// ABSTRACT
$col-gray: hsl(0, 0%, 59%);
$col-gray-dark: hsl(0, 0%, 17%);
$col-black: #000;

$border-rad: 10px;
$gsm: 450/16 * 1em;
$tab-port: 923/16 * 1em;
$tab-land: 1200/16 * 1em;

////////// BASE
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 62.5%;
  @media (max-width: $tab-land) {
    font-size: 59%;
  }
  @media (max-width: $tab-port) {
    font-size: 58%;
  }
  @media (max-width: $gsm) {
    font-size: 56%;
  }
}
body {
  font-family: "Rubik", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.grid-con {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;

  @media (max-width: 600/16 * 1em) {
    min-height: 130vh;
    grid-template-rows: 38vh 2.3fr;
  }
}
button {
  border: none;
  background-color: #888;
}
ul {
  list-style-type: none;
}

////////// TYPOGRAPHY
.head {
  &__small {
    font-size: 1.2rem;
    letter-spacing: 2px;

    @media (max-width: 700/16 * 1em) {
      font-weight: 900;
    }
  }
  &__pri {
    font-size: 3rem;
  }
  &__med {
    font-size: 2.4rem;

    @media (max-width: $tab-port) {
      font-size: 2.2rem;
    }
  }
}

////////// UTILS
.cap {
  text-transform: capitalize;
}
.upp {
  text-transform: uppercase;
}
.light {
  color: #fff;
}
.light-1 {
  color: $col-gray;
}
.dark {
  color: $col-gray-dark;
}
.disabled {
  background-color: darken($col-gray, 12%) !important;
}

////////// COMPONENTS
.header {
  padding: 2.8rem 4rem 0 4rem;
  position: relative;
  background-image: url(../images//pattern-bg.png);
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    justify-self: center;
  }

  &__form {
    display: grid;
    gap: 2.3rem 0;
    @media (max-width: 600/16 * 1em) {
      gap: 1.5rem;
    }
  }
}
.form {
  &__group {
    display: grid;
    grid-template-columns: 1fr max-content;
    border-radius: $border-rad;
    margin: auto;
    overflow: hidden;
    justify-content: center;
    position: relative;
    z-index: 3;

    input,
    input:disabled {
      width: 32vw;
      padding: 1.5rem 0.8rem;
      font-size: 1.8rem;
      border: none;
      color: darken($col-gray, 9%);
      background-color: #fff;

      @media (max-width: $tab-port) {
        width: 57vw;
      }
      @media (max-width: $gsm) {
        width: 66vw;
      }

      &::placeholder {
        color: $col-gray;
        @media (max-width: $gsm) {
          font-size: 1.5rem;
        }
      }
    }

    input:focus {
      @media (max-width: 550/16 * 1em) {
        box-shadow: 0 5px 15px rgba(#000, 0.05);
      }
    }
  }
  &__submit {
    display: grid;
    place-items: center;
    padding: 1rem 1.9rem;
    background-color: $col-gray-dark;
    cursor: pointer;

    svg {
      width: 2rem;
      height: 2rem;
      display: inline-block;
      transform: scale(1.2) translateY(12%);
    }
  }
}

.result {
  margin: auto;
  width: 82vw;
  background-color: #fff;
  margin-top: -1rem;
  transform: translateY(50%);
  display: grid;
  padding: 4.3rem 2.5rem;
  border-radius: $border-rad;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  align-items: start;
  justify-content: center;
  gap: 2rem 3rem;
  box-shadow: 0 2rem 3rem rgba($col-gray-dark, 0.03);
  margin-top: -3rem;

  @media (max-width: 1082/16 * 1em) {
    width: 87vw;
  }
  @media (max-width: 1040/16 * 1em) {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem 4rem;
  }
  @media (max-width: 600/16 * 1em) {
    padding: 2.5rem;
    grid-template-columns: initial;
    justify-content: initial;
    position: absolute;
    top: 102%;
    left: 50%;
    gap: 2.5rem 0;
    transform: translate(-50%, -29%);
    z-index: -1;
  }
  @media (min-height: 800/16 * 1em) and (max-width: 600/16 * 1em) {
    transform: translate(-50%, -46%);
  }

  &__box {
    position: relative;
    display: grid;
    gap: 0.7rem 0;
    @media (max-width: 1040/16 * 1em) {
      text-align: center;
    }
    &:not(:last-child)::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 120%;
      top: -10%;
      right: 0;
      background-color: lighten($col-gray, 27%);
      border: 10px;
      @media (max-width: 600/16 * 1em) {
        display: none;
      }
    }
    &:nth-child(2n)::before {
      @media (max-width: 1040/16 * 1em) {
        display: none;
      }
    }
  }
}
.main {
  background-color: #f4f2f2;
}
